@using Microsoft.AspNet.Identity
@using PwC.LAN.BSC.Data.ViewModels
@model List<CandidatesProcessViewModels>
@{
    Layout = null;
    var imagePath = PwC.LAN.BSC.UI.Web.App_Start.Ruta.Url + "/Content/images/pdf";
    var imagePath2 = PwC.LAN.BSC.UI.Web.App_Start.Ruta.Url;
    var imagePath3 = PwC.LAN.BSC.UI.Web.App_Start.Ruta.Url + "/Content/Uploads/";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width;height=device-height;" />
    <title>Resumen</title>

    <style>

        @@charset "utf-8";
        /* CSS Document */

        *{margin: 0; padding: 0}
        body{font-family: Arial, "sans-serif"; font-size: 16px; color: #000;}
        .clear{clear: both}

        section{width: 100%; height: 793px; margin: auto;min-height: 793;position:relative;}
        h2{font-family: Georgia, "serif"; font-size: 2em; color: #fff; font-style: italic; font-weight: bold;}
        h3{font-size: 1.4em; color: #000;}
        h4{font-size: 1em; color: #000;}
        h5{font-size: 0.7em; color: #000;}
        h6{font-family: Georgia, "serif"; font-size: 1em; color: #000; font-style: italic; font-weight: bold;}
        h7{font-family: Georgia, "serif"; font-size: 1.6em; color: #fff; font-style: italic; line-height: 2em}
        h8{font-family: Georgia, "serif"; font-size: 1.6em; color: #6f2a2c; font-style: italic; line-height: 2em}
        p{font-size: 1em; color: #000; margin-bottom: 15px; text-align: justify;}
        .cabecera p, .cabecera h6{color: #fff;}
        .portada{background: url(@imagePath/portada.jpg) top;}
        .cabecera{padding: 30px; background: #db8916;}
        .cabecera h3{color: #fff}
        .pie{border-top:#db8918 solid 1px; padding: 10px 20px 0; margin-top: 10px; font-size: 0.7em; color: #6F6F6F; position: absolute; right: 0; bottom: 0; left: 0; margin-bottom: 10px; }

        .wrap{padding: 20px 30px}
        .wrap h2{color: #9a2c31}

        ul{list-style: none; float: left; width: 21%; padding: 2%;}
        li{display: inline-block; vertical-align: middle; font-size: 1em; padding-bottom: 20px; text-align: center; width: 100%; background: url(@imagePath/flecha.png) bottom no-repeat; margin-bottom: 10px;}
        ul li div{border:#ccc solid 1px; padding: 15px;border-radius: 15px;-moz-border-radius: 15px;-webkit-border-radius: 15px;}
        li:last-child{background: none;}

        .col-candidato li:first-child div{background-color: #6f2a2c; font-family: Georgia, "serif"; font-style: italic; color: #fff; font-size: 1.4em; height: 30px;}
        .col-candidato li div{border: #6f2a2c solid 2px; height: 35px;}

        .col-empresa li:first-child div{background-color: #9a2c31; font-family: Georgia, "serif"; font-style: italic; color: #fff; font-size: 1.4em; height: 30px;}
        .col-empresa li div{border: #9a2c31 solid 2px; height: 35px;}

        .col-cargo li:first-child div{background-color: #c73f33; font-family: Georgia, "serif"; font-style: italic; color: #fff; font-size: 1.4em; height: 30px;}
        .col-cargo li div{border: #c73f33 solid 2px; height: 35px;}

        .col-status li:first-child div{background-color: #c84051; font-family: Georgia, "serif"; font-style: italic; color: #fff; font-size: 1.4em; height: 30px;}
        .col-status li div{border: #c84051 solid 2px; height: 35px;}

        .cont-estructura{padding: 20px 30px; background-color: #6f2a2c; margin-bottom: 20px;}
        .cont-salario{padding: 20px 30px; background-color: #db8916; height: 118px;}
        .cont-gestion{padding: 20px 30px; background-color: #a39a93; margin-top: 20px;}

        .cont-estructura p, .cont-salario p, .cont-gestion p{color: #fff}
        .cont-estructura div, .cont-salario div, .cont-gestion div{float: left; margin-left: 25px;}

        .cont-perfil{float:left; padding: 2%; width: 44%;}
        .cont-perfil h7{color: #f04e35; font-size: 1.2em; line-height: 1.2em;}
        .cont-perfil p, .cont-perfil hr{margin-top: 10px; margin-bottom: 0}

        .cont-test{padding: 20px; border:#f04e35 dashed 2px; margin-top: 30px}
        .cont-test h7{color: #f04e35; font-size: 1.2em; line-height: 1.2em;}
        .cont-test hr{margin: 10px 0}

        .cont-img-duro{float: left; margin-right: 25px;}

        .cont-duro hr{margin: 5px 0}
        .cont-duro h6{color: #f04e35;}
        .cont-duro ol{list-style: decimal; text-align: left;}
        .cont-duro li{text-align: left; display: list-item ; width: 100%; background: none; padding: 3px 0;}

        .cont-duro-uni{margin-bottom: 20px; border-bottom:#f04e35 dashed 2px; padding-bottom: 10px}

        .cont-competencias{width: 800px; margin: auto;}
        .cont-competencias ul{list-style: decimal; text-align: left; width: 100%;}
        .cont-competencias li{text-align: left; display: block; width: 100%; background: none; padding: 8px 0;}
        .cont-competencias .cont-titulos{float: left; width: 35%; padding: 0 2%;}
        .cont-competencias .cont-graficos{float: left; width: 45%; padding: 0 2%;}
        .cont-competencias .cont-titulos li{text-align: right;}
        .cont-competencias .cont-graficos li{height: 18px;border-radius: 15px;-moz-border-radius: 15px;-webkit-border-radius: 15px;}
        .cont-competencias .cont-graficos li:nth-child(1){background-color: #6f2a2c;}
        .cont-competencias .cont-graficos li:nth-child(2){background-color: #9a2c31;}
        .cont-competencias .cont-graficos li:nth-child(3){background-color: #db8916;}
        .cont-competencias .cont-graficos li:nth-child(4){background-color: #e4a612;}
        .cont-competencias .cont-graficos li:nth-child(5){background-color: #c73f33;}
        .cont-competencias .cont-graficos li:nth-child(6){background-color: #c84051;}
        .cont-competencias .cont-graficos li:nth-child(7){background-color: #a39a93;}

        .cont-leyenda{float: right; margin-right: 85px;}

        .wrap table td{padding: 15px;  border: #ddd solid 1px;}

        .tl-factores{font-family: Georgia, "serif"; font-size: 1.6em; color:#fff; background-color: #9a6762; font-style: italic; font-weight: bold;}
        .tl-duro{font-family: Georgia, "serif"; font-size: 1.4em; color:#fff; background-color: #6f2a2c; font-style: italic; font-weight: bold; text-align: center;}
        .tl-blando{font-family: Georgia, "serif"; font-size: 1.4em; color:#fff; background-color: #b68f8a; font-style: italic; font-weight: bold; text-align: center;}
        .tl-formacion{font-family: Georgia, "serif"; font-size: 1.2em; color:#bc3227; font-style: italic; text-align: center;}
        .tl-competencias{font-family: Georgia, "serif"; font-size: 1.2em; color:#f04e35; font-style: italic; text-align: center;}
        .tl-peso{font-family: Georgia, "serif"; font-size: 1.2em; color:#f69439; font-style: italic; text-align: left;}
        .tl-candidato{font-family: Georgia, "serif"; font-size: 1.4em; color:#fff; background-color: #a39a93; font-style: italic; font-weight: bold; text-align: left;}
        .tl-total{font-family: Georgia, "serif"; font-size: 1.4em; color:#fff; background-color: #a39a93; font-style: italic; font-weight: bold; text-align: center; padding: 15px 45px !important;}


        .cuadro-finalistas{background: url(@imagePath/cuadro-finalistas.jpg) top no-repeat; width: 565px; height: 380px; margin:auto; position: relative;}
        .leyenda-finalistas{width: 500px; margin-left: 290px;}
        .leyenda-finalistas ul{list-style: none; width: 100%; text-align: center}
        .leyenda-finalistas li{background: none; text-align: center; display: inline-block; width: 30%; font-size: 0.8em; vertical-align: top; margin-right: 15px;}
        .leyenda-finalistas li:last-child{margin-right: 0}
        .leyenda-nombre-finalistas{width: 250px; position: absolute; top:350px; right: 0px;}

        .cuadro-finalistas .barra1 {background: #db8916; width: 50px; height: 350px; left: 90px; position: absolute; top:  25px; border-radius: 15px 15px 0 0;-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;}
        .cuadro-finalistas .barra2 {background: #db8916; width: 50px; height: 350px; left: 250px; position: absolute; top: 25px; border-radius: 15px 15px 0 0;-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;}
        .cuadro-finalistas .barra3 {background: #db8916; width: 50px; height: 150px; left: 410px; position: absolute; top: 230px; border-radius: 15px 15px 0 0;-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;}

        .cuadro-finalistas .barra4 {background: #6f2a2c; width: 50px; height: 350px; left: 150px; position: absolute; top: 25px; border-radius: 15px 15px 0 0;-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;}
        .cuadro-finalistas .barra5 {background: #6f2a2c; width: 50px; height: 350px; left: 310px; position: absolute; top: 25px; transform: translateY(-99%); border-radius: 15px 15px 0 0;-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;}
        .cuadro-finalistas .barra6 {background: #6f2a2c; width: 50px; height: 50px; left: 470px; position: absolute; top: 330px; transform: translateY(-99%); border-radius: 15px 15px 0 0;-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;}

        .cuadro-educacion{background: url(@imagePath/cuadro-educacion.jpg) top no-repeat; width: 450px; height: 380px; margin:auto; position: relative;}

        .cuadro-educacion .barra1 {background: #db8916; width: 90px; height: 230px; left: 140px; position: absolute; top: 150px; border-radius: 15px 15px 0 0;-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;}
        .cuadro-educacion .barra2 {background: #db8916; width: 90px; height: 330px; left: 250px; position: absolute; top: 50px; border-radius: 15px 15px 0 0;-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;}

        .cuadro-educacion .barra3 {background: #bc3227; width: 90px; height: 200px; left: 100px; position: absolute; top: 180px; border-radius: 15px 15px 0 0;-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;}
        .cuadro-educacion .barra4 {background: #bc3227; width: 90px; height: 130px; left: 250px; position: absolute; top: 250px; border-radius: 15px 15px 0 0;-moz-border-radius: 15px 15px 0 0;-webkit-border-radius: 15px 15px 0 0;}

        .cont-test-left{float: left; width: 48%;}
        .cont-test-right{float: right; width: 48%;}
    </style>

</head>

<body>

    <hoja piedepagina="false">

        <section id="1_Carátula">
            <h8 style="position: absolute; top: 170px; margin-left: 70px; width: 410px; font-weight:bold; font-family: Georgia, 'serif'; font-size: 1.6em; color: #6f2a2c; font-style: italic; line-height: 2em;">@ViewBag.CommercialName</h8>
            <h2 style="position: absolute; top: 310px; margin-left: 70px; width: 410px;">@ViewBag.ProcessName</h2>
            <h5 style="position: absolute; top: 580px; margin-left: 860px; width: 220px;">DC2 - Información de distribución restringida</h5>
            <img style="position: absolute:; top: 0" src="@imagePath/portada.jpg" width="100%" alt="" />
        </section>

        <section id="2_Saludo" style="background-color: #a39a93;height:793px" piedepagina="false">
            <div class="wrap">
                <div style="float: left;"><img src="@imagePath/logo-carta.png" width="200" alt="" /></div>
                <div style="float: right; margin-left: 15px; width: 750px; padding-top: 20px; padding-right: 50px">
                    <p>
                        Señor/a<br />
                        @ViewBag.ContactName<br />
                        @*@ViewBag.ContactPosition<br />*@
                        @ViewBag.CommercialName<br />
                        Ciudad.- Quito<br />
                    </p>
                    <p style="padding: 30px 0">@ViewBag.FinalistPresentation.ToString("dd MMMM yyyy")</p>
                    <p><strong>Ref.: Entrega de Informe Ejecutivo - Candidatos finalistas, Proceso de selección de @ViewBag.ProcessName</strong></p>

                    <p style="padding: 30px 0 10px">De nuestra consideración:</p>
                    <p>Tenemos el agrado de dirigirnos a usted con el objeto de presentarle el Informe Ejecutivo referido al proceso mencionado, de acuerdo con los términos planteados en nuestra propuesta de Servicios Profesionales de Reclutamiento y Selección de Ejecutivos. Nuestro análisis y conclusiones sobre los candidatos finalistas para la posición de <strong>@ViewBag.ProcessName</strong> son presentados en el presente informe.</p>
                    <p>Este documento ha sido preparado para uso exclusivo de <strong>@ViewBag.CommercialName</strong>, mismo que no podrá ser distribuido a terceros, en parte o en su totalidad, a menos que cuente con previa autorización por escrito de PwC AE.</p>
                    <p>Sin otro particular, quedamos a su disposición para cualquier aclaración o ampliación que considere pertinente en relación al contenido de la presente.</p>
                    <p>Atentamente,</p>
                    <p>Carlos Loaiza<br />Socio</p>
                </div>
            </div>
        </section>

    </hoja>

    <hoja>
        <section id="3_Candidatos">
            <div class="cabecera">
                <h2>Resultado de la entrevista</h2>
            </div>
            <div class="wrap">
                @{ string fullNameCandidate = "";}
                <ul class="col-candidato">
                    <li><div>Candidato</div></li>

                    @foreach (var candidate in Model)
                    {
                        if (fullNameCandidate != candidate.firstname + " " + candidate.lastname)
                        {
                            <li><div>@candidate.firstname @candidate.lastname</div></li>
                        }
                        fullNameCandidate = candidate.firstname + " " + candidate.lastname;
                    }

                </ul>

                <ul class="col-empresa">
                    <li><div>Empresa</div></li>
                    @foreach (var candidate in Model)
                    {
                        if (fullNameCandidate != candidate.firstname + " " + candidate.lastname)
                        {
                            <li><div>@candidate.actualbusiness</div></li>
                        }
                        fullNameCandidate = candidate.firstname + " " + candidate.lastname;
                    }
                </ul>

                <ul class="col-cargo">
                    <li><div>Cargo</div></li>
                    @foreach (var candidate in Model)
                    {
                        if (fullNameCandidate != candidate.firstname + " " + candidate.lastname)
                        {
                            <li><div>@candidate.actualPosition</div></li>
                        }
                        fullNameCandidate = candidate.firstname + " " + candidate.lastname;
                    }
                </ul>

                <ul class="col-status">
                    <li><div>Status</div></li>
                    @{ string grade = "";}
                    @foreach (var candidate in Model)
                    {
                        if (fullNameCandidate != candidate.firstname + " " + candidate.lastname)
                        {
                            if (candidate.grade == 1)
                            {
                                grade = "Opcionado";
                            }
                            else if (candidate.grade == 2)
                            {
                                grade = "Potencial";
                            }
                            else
                            {
                                grade = "Descartado";
                            }
                            <li><div>@grade</div></li>
                        }
                        fullNameCandidate = candidate.Name + " " + candidate.LastName;
                    }
                </ul>
                <div class="clear"></div>
            </div>
            <div class="pie">
                <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                <div class="clear"></div>
            </div>
        </section>

    </hoja>


    <hoja piedepagina="false" id="4_CarátulaInformeIndividual">
        <section>
            <img style="top: 0" src="@imagePath/portada-3.jpg" width="100%" height="793" alt="" />
        </section>
    </hoja>

    @foreach (var candidate in Model)
    {
        <hoja>

            <section id="5_analisis_de_perfil_duro">
                <div class="wrap">
                    <h2>@candidate.firstname @candidate.lastname</h2>
                    <h3>Análisis de perfil duro</h3>
                </div>
                <hr />
                <div class="wrap">
                    <div class="cont-estructura">
                        <div><img src="@imagePath/ico-formacion.png" width="350" height="118" alt="" /></div>
                        <p><strong>Título de 3er nivel:</strong></p>
                        @*@foreach (var education in @candidate.PdfFormalEducations)
                            {*@
                        @if (candidate.tittle3rd != "")
                        {
                            <p>@candidate.tittle3rd<br />@candidate.uni3</p>
                        }
                        @*}*@
                        <p><strong>Título de 4to nivel:</strong></p>
                        @*@foreach (var education in @candidate.PdfFormalEducations)
                            {*@
                        @if (candidate.tittle4th != "")
                        {
                            <p>
                                @candidate.tittle4th <strong>(@candidate.uni4status)</strong><br />
                                @candidate.uni4, @candidate.uni4city
                            </p>
                        }
                        @*}*@
                        <div class="clear"></div>
                    </div>
                    <div class="cont-salario">
                        <div><img src="@imagePath/ico-trayectoria.png" width="350" height="118" alt="" /></div>
                        @foreach (var job in @candidate.AllcarrerPath)
                        {
                            if (job.CanditateId == candidate.candidateid)
                            {
                                <p>
                                    <strong>@job.Business </strong>
                                    <label>(</label>
                                    @if (job.StartBusinessDate != "")
                                    {
                                        @job.StartBusinessDate.Substring(0, 10)
                                    }
                                    <label>-</label>
                                    @if (job.Actual == "Actual")
                                    {
                                        @job.Actual
                                    }
                                    else
                                    {
                                        @job.EndBusinessDate.ToString().Substring(0, 10)
                                    }
                                    <label>)</label><br />
                                </p>
                            }
                        }

                        <div class="clear"></div>
                    </div>
                    <div class="cont-gestion">
                        <div><img src="@imagePath/ico-gestion.png" width="350" height="118" alt="" /></div>
                        @if (candidate.jefatura != null && candidate.functionCharge != null)
                        {
                            <p><strong>Cargo de la jefatura directa:</strong> @candidate.jefatura</p>
                            <p><strong>Responsabilidades:</strong></p>
                            <p>@candidate.functionCharge</p>
                        }

                        <div class="clear"></div>
                    </div>
                </div>
                <div class="pie">
                    <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                    <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                    <div class="clear"></div>
                </div>
            </section>

            <section id="6_Analisis_de_entorno_personal">
                <div class="wrap">
                    <h2>
                        @candidate.firstname @candidate.lastname
                    </h2><h3>Análisis de entorno personal</h3>
                </div>
                <hr />
                <div class="wrap">
                    <div class="cont-estructura" style="min-height:150px">
                        <div><img src="@imagePath/ico-estructura.png" width="350" height="137" alt="" /></div>
                        @if (candidate.familydata != null)
                        {
                            <p>@candidate.familydata</p>
                            <p><strong>Sector de residencia:</strong> @candidate.citysector, @candidate.cityName</p>
                        }
                        <div class="clear"></div>
                    </div>
                    <div class="cont-salario" style="min-height:120px">
                        <div><img src="@imagePath/ico-salario.png" width="350" height="118" alt="" /></div>
                        <p style="padding-top: 15px;"><strong>Último salario:</strong> $@(candidate.actualPosition == null ? 0 : candidate.salaryfixed) Brutos</p>
                        <p>
                            <strong>Beneficios adicionales:</strong>
                            @{string benifits = ""; }

                            @if (candidate.salarybenefits != "")
                            {
                                benifits = candidate.salarybenefits;
                                @benifits
                            }
                            else
                            {
                                @benifits
                            }
                        </p>
                        <p><strong>Aspiración salarial:</strong> @candidate.salaryaspiration Brutos </p>



                    </div>
                    <div class="cont-gestion">
                        <div><img src="@imagePath/ico-gestion.png" width="350" height="118" alt="" /></div>
                        @if (candidate.workRefernces != null)
                        {
                            <p><strong>@Html.Raw(Html.Encode(candidate.workRefernces).Replace(";", "<br />"))<br /></strong> </p>

                        }

                        <div class="clear"></div>
                    </div>
                </div>
                <div class="pie">
                    <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                    <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                    <div class="clear"></div>
                </div>
            </section>

            <section id="7_AnálisisCompetencias">
                <div class="cabecera">
                    <h2>@candidate.firstname @candidate.lastname</h2>
                    <h3>Valoración de competencias</h3>
                </div>
                <div class="wrap">
                    <div class="cont-competencias">
                        <div class="cont-leyenda"><img src="@imagePath/leyenda.jpg" width="362" height="26" alt="" /></div>
                        <div class="clear"></div>
                        <div class="cont-titulos">
                            <ul>
                                @foreach (var competence in candidate.competenciesList)
                                {
                                    <li>@competence.Competence</li>
                                }
                            </ul>
                        </div>
                        <div class="cont-graficos">
                            <ul>
                                @foreach (var competence in candidate.competenciesList)
                                {
                                    int ancho = 25 * competence.Level;
                                    <li style="width:@ancho%"></li>
                                }
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <h5 align="center">(*) Característica subyugante de una persona que le permite demostrar un desempeño superior a un determinado puesto de trabajo. <br />Nivel de desarrollo: 4 = Competencia desarrollada | 3 = Competencia en desarrollo | 2 = Competencia poco desarrollada | 1 = Competencia no desarrollada</h5>
                </div>
                <div class="pie">
                    <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                    <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                    <div class="clear"></div>
                </div>
            </section>

            <section id="8_inpulso_motivacional_identificado" style="background-color: #e2d0ce;height:732px">
                <div class="wrap">
                    <h2>@candidate.firstname @candidate.lastname</h2>
                    <h3>Impulso motivacional identificado</h3>
                </div>
                <hr />
                <div class="wrap">
                    <div class="cont-perfil">

                        @if (candidate.analysis != null)
                        {
                            <p>@candidate.analysis</p>
                        }
                        else
                        {
                            <img src="@imagePath/imagen.jpg" width="100%" height="500" alt="" />
                        }


                    </div>
                    <div class="clear"></div>
                </div>
                <div class="pie">
                    <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                    <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                    <div class="clear"></div>
                </div>
            </section>

            @foreach (var test in candidate.listTestTec)
            {
                <section id="9_TestPsicotécnico">
                    <div class="cabecera">
                        <h2>@candidate.Name @candidate.LastName</h2>
                        <h3>Resultado Test Psicotécnico</h3>
                    </div>
                    <div class="wrap">
                        <h2>@test.TestName</h2>
                        <hr style="margin-bottom: 8px; margin-top: 8px;" />
                        @if (test.TestDescription.Length >= 200)
                        {
                            <p>@test.TestDescription.Substring(0, 200)</p>
                        }
                        else
                        {
                            <p>@test.TestDescription</p>
                        }

                        <div>
                            @if (test.TestImage != null)
                            {
                                if (test.TestImage != "")
                                {
                                    if (test.TestImage == "undefined")
                                    {
                                        string src = imagePath3 + "imagen.jpg";
                                        <div class="cont-test-left"><img src="@src" width="100%" alt="" /></div>
                                    }
                                    else
                                    {
                                        <div class="cont-test-left"><img src="@imagePath3@test.TestImage" width="100%" height="440" alt="" /></div>
                                    }

                                }
                                else
                                {
                                    string src = imagePath3 + "imagen.jpg";
                                    <div class="cont-test-left"><img src="@src" width="100%" alt="" /></div>
                                }
                            }
                            <div class="cont-test-right">
                                <h2>Interpretación del Test</h2>
                                <hr style="margin-bottom: 8px; margin-top: 8px;" />
                                @if (test.TestInterpretation.Length >= 400)
                                {
                                    <p>@test.TestInterpretation.Substring(0, 400)</p>
                                }
                                else
                                {
                                    <p>@test.TestInterpretation</p>
                                }

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="pie">
                        <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                        <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                        <div class="clear"></div>
                    </div>
                </section>

            }

            <section id="10_Senecyt">
                <div class="cabecera">
                    <h2>@candidate.firstname @candidate.lastname</h2>
                    <h3>Verificación de títulos académicos</h3>
                </div>
                <div class="wrap">
                    @if (candidate.tittleVerification != "" && candidate.tittleVerification != null)
                    {
                        if (candidate.tittleVerification == "undefined")
                        {
                            string src = @imagePath3 + "/imagen.jpg";
                            <img src="@src" width="100%" height="500" alt="" />
                        }
                        else
                        {
                            <img src="@imagePath2@candidate.tittleVerification" width="100%" height="500" alt="" />
                        }

                    }
                    else
                    {
                        string src = @imagePath3 + "/imagen.jpg";
                        <img src="@src" width="100%" height="500" alt="" />
                    }

                </div>
                <div class="pie">
                    <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                    <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                    <div class="clear"></div>
                </div>
            </section>

            <section id="11_FuncionJudicial">
                <div class="cabecera">
                    <h2>@candidate.firstname @candidate.lastname</h2>
                    <h3>Verificación de registro de función judicial</h3>
                </div>
                <div class="wrap">
                    @if (candidate.claimantfunction != "" && candidate.claimantfunction != null)
                    {
                        <img src="@imagePath3@candidate.claimantfunction" width="100%" height="500" alt="" />
                    }
                    else
                    {
                        <img src="@imagePath/imagen.jpg" width="100%" height="500" alt="" />
                    }

                </div>
                <div class="pie">
                    <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                    <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                    <div class="clear"></div>
                </div>
            </section>





        </hoja>
    }

    <hoja piedepagina="false" id="12_Caratula">
        <img style="top: 0" src="@imagePath/portada-2.jpg" width="100%" height="793" alt="" />
    </hoja>

    <hoja>
        <section id="13_Caratula2">
            <div class="wrap">
                <h2>Estructura de Informe Individual</h2>
                <hr />
            </div>
            <div class="wrap" align="center"><img src="@imagePath/estructura-informe.jpg" alt="" width="800" /></div>
            <div class="pie">
                <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                <div class="clear"></div>
            </div>
        </section>


        <section id="14_PersonaPuesto">
            <div class="cabecera">
                <h2>Valoración Candidatos vs. Perfil</h2>
            </div>
            <div class="wrap">
                <div>
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td class="tl-factores" rowspan="2">Factores Ponderados</td>
                            <td colspan="2" class="tl-duro">Perfil Duro</td>
                            <td class="tl-blando">Perfil Blando</td>
                        </tr>
                        <tr>
                            <td class="tl-formacion">Formación Académica</td>
                            <td class="tl-formacion">Experiencia Profesional</td>
                            <td class="tl-competencias">Competencias Evaluadas</td>
                        </tr>
                        <tr>
                            <td class="tl-peso">Peso por Factor</td>
                            <td align="center">20%</td>
                            <td align="center">30%</td>
                            <td align="center">50%</td>
                        </tr>
                        <tr>
                            <td class="tl-candidato" colspan="4">Candidatos</td>
                            <td class="tl-total">Total</td>
                        </tr>
                        @foreach (var candidate in Model)
                        {
                            <tr>
                                <td><strong>@candidate.firstname @candidate.lastname</strong></td>
                                <td align="center">20 %</td>
                                <td align="center">30 %</td>
                                <td align="center">@candidate.porcentCompetence %</td>
                                <td align="center"><strong>@candidate.totalPercentCompetence %</strong></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="pie">
                <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                <div class="clear"></div>
            </div>
        </section>

        <section id="15_PersonaPuestoFinalistas">
            <div class="cabecera">
                <h2>Valoración comparativa de factores</h2>
                <h3>Candidatos Finalistas</h3>
            </div>
            <div class="wrap">
                <h4 align="center">Matriz de Relación Puesto vs. Persona</h4>
                <div class="cuadro-finalistas">
                    @{
                        int countCan = 0;
                        string htmlGrap = "";
                    }
                    @foreach (var candidate in Model.OrderByDescending(c => c.totalPercentCompetence))
                    {
                        countCan++;
                        if (candidate.totalPercentCompList != null)
                        {
                            foreach (var item in candidate.totalPercentCompList)
                            {
                                if (countCan == 1)
                                {
                                    htmlGrap += "<div class='barra1'></div><div class='barra2'></div>";
                                    int Alto = item.total;
                                    Alto -= 7;
                                    string StrAlto = Alto + "%";
                                    string StrTop = (99 - Alto) + "%";
                                    htmlGrap += "<div class='barra3' style='height:" + @StrAlto + "; top:" + @StrTop + "'></div>";
                                }
                                else if (countCan == 2)
                                {
                                    htmlGrap += "<div class='barra4'></div><div class='barra5'></div>";
                                    int Alto = item.total;
                                    Alto -= 7;
                                    string StrAlto = Alto + "%";
                                    string StrTop = (99 - Alto) + "%";
                                    htmlGrap += "<div class='barra6' style='height:" + @StrAlto + "; top:" + @StrTop + "'></div>";
                                }

                            }
                        }
                    }
                    @Html.Raw(htmlGrap)
                    <div class="clear"></div>
                </div>
                <div class="leyenda-finalistas">
                    <ul>
                        <li>Formación Académica<br />(20%)</li>
                        <li>Experiencia Profesional<br />(30%)</li>
                        <li>Competencias<br />(50%)</li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="leyenda-nombre-finalistas">
                    @{ int cont = 0;}
                    @foreach (var candidate in Model.OrderByDescending(c => c.totalPercentCompetence))
                    {
                        cont++;
                        if (cont == 1)
                        {
                            <h5><span style="color: #db8916">&#9679;</span> @candidate.firstname @candidate.lastname</h5>
                        }
                        if (cont == 2)
                        {
                            <h5><span style="color: #6f2a2c">&#9679;</span> @candidate.firstname @candidate.lastname</h5>
                        }

                    }

                </div>
            </div>
            <div class="pie">
                <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                <div class="clear"></div>
            </div>
        </section>

        <section id="16_ResultadoGeneral">
            <div class="cabecera">
                <h2>Resultado integral de adecuación al perfil</h2>
                <h3>Candidatos Finalistas</h3>
            </div>
            <div class="wrap">
                <h4 align="center">Resultado General Adecuación al Perfil</h4>
                <div class="cuadro-educacion">
                    @{ int conts = 0;}
                    @foreach (var candidate in Model.OrderByDescending(c => c.totalPercentCompetence))
                    {
                        conts++;
                        foreach (var item in candidate.totalPercentCompList)
                        {
                            if (conts == 1)
                            {
                                int Alto1 = item.total;
                                Alto1 = Alto1 - 7;
                                string StrAlto1 = Alto1 + "%";
                                string StrTop1 = (99 - Alto1) + "%";
                                <div class="barra2" style="height:@StrAlto1; top:@StrTop1"></div>
                            }
                            if (conts == 2)
                            {
                                int Alto2 = item.total;
                                Alto2 = Alto2 - 7;
                                string StrAlto2 = Alto2 + "%";
                                string StrTop2 = (99 - Alto2) + "%";
                                <div class="barra3" style="height:@StrAlto2; top:@StrTop2"></div>
                            }
                        }

                    }

                    <div class="clear"></div>
                </div>
                <div style="margin-left: 380px;">
                    <p align="center">Ponderación Final/100 puntos</p>
                </div>
                <div class="clear"></div>
                <div class="leyenda-nombre-finalistas">
                    @{ int contp = 0;}
                    @foreach (var candidate in Model.OrderByDescending(c => c.totalPercentCompetence))
                    {
                        contp++;
                        if (contp == 1)
                        {
                            <h5><span style="color: #db8916 ">&#9679;</span> @candidate.firstname @candidate.lastname</h5>
                        }
                        if (contp == 2)
                        {
                            <h5><span style="color: #bc3227 ">&#9679;</span> @candidate.firstname @candidate.lastname</h5>
                        }
                    }

                </div>
            </div>
            <div class="pie">
                <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                <div class="clear"></div>
            </div>
        </section>

        <section id="17_limitaciones_de_responsabilidad" style="background-color: #e2d0ce">
            <div class="wrap">
                <h2>Limitaciones y Responsabilidades</h2>
                <hr />
            </div>
            <div class="wrap">
                <p style="padding-bottom: 25px;">1. La información relacionada a la descripción y perfil del cargo que fue utilizada para el desarrollo del Proceso de selección fue suministrada por los funcionarios de "@ViewBag.CommercialName", la responsabilidad por la calidad y exactitud de esta información es responsabilidad de dicha institución. PwC Asesores Empresariales ha tomado esta información como correcta, por lo que cualquier error u omisión en la misma es responsabilidad de la institución..</p>
                <p style="padding-bottom: 25px;">2.- El informe de los candidatos presentados por PwC Asesores Empresariales es para uso exclusivo de "@ViewBag.CommercialName". No puede ser publicado, reproducido ni entregado a terceros, sin previa autorización escrita de nuestra Firma. Este informe contiene información confidencial y se considera propiedad intelectual de PwC AE. Su uso es exclusivo y está restringido únicamente para el destinatario. Sin previa autorización escrita de PwC AE, no podrá ser puesto a disposición de personas diferentes del destinatario y/o las personas de la empresa que éste designe para propósitos específicamente relacionados con el proceso de búsqueda y selección referido en este informe. Nos eximimos de responsabilidad ante terceros o ante quienes este informe pudiera ser exhibido o a cuyas manos pudiera llegar. La responsabilidad de PwC AE, sus socios o personal, relacionada con los servicios prestados por el trabajo descrito en este informe, no superará en ningún caso al monto de los honorarios que efectivamente hubiere cobrado  con relación a dichos servicios, siempre y cuando el eventual reclamo sea formulado dentro de los seis meses a contar desde la fecha de emisión de este informe. </p>
                <p style="padding-bottom: 25px;">3.- La responsabilidad por las definiciones que puedan ser generadas como resultado de este informe son de "@ViewBag.CommercialName", PwC Asesores Empresariales, no asume responsabilidad alguna sobre las mismas. Si bien hemos efectuado la validación de la información de los candidatos es importante que la compañía, complemente nuestras  validaciones de acuerdo a sus políticas internas.</p>
                <p>4. La responsabilidad de PwC AE, sus socios o personal, relacionada con los servicios a prestarse o cualquier variación o agregado a los mismos, no superará en ningún caso al monto de los honorarios que efectivamente se hubiera cobrado con relación a dichos servicios. </p>
            </div>
            <div class="pie">
                <div style="float: left; margin-right: 10px;"><img src="@imagePath/logo.png" width="50" height="37" alt="" /></div>
                <div style="float: left;">En este documento, PwC se refiere a PwC Asesores Empresariales Cía. Ltda., una entidad legal independiente, firma miembro de la red global PwC. ©2017 PwC. Todos los derechos reservados.<br />DC2 - Información de distribución restringida</div>
                <div class="clear"></div>
            </div>
        </section>





    </hoja>






</body>
</html>