 @charset "utf-8";
 * {
     margin: 0;
     padding: 0
 }

 body {
     font-family: Arial, "sans-serif";
     font-size: 16px;
     color: rgb(80, 79, 79);
     background-color: #fff;
 }

 .font-serif {
     font-family: Georgia, "serif" !important;
     font-style: italic;
 }

 .font-serif-normal {
     font-family: Georgia, "serif";
 }

 p {
     font-size: 0.85em;
     color: rgb(80, 79, 79);
     text-align: justify;
     line-height: 1.3;
     font-family: Georgia, "serif";
 }



 .clear {
     clear: both
 }

 section {
     width: 210mm;
     height: 297mm;
     padding: 0;
     margin: 0 auto;
     position: relative;
     background-color: #fff;
 }

 h2 {
     font-family: Georgia, "serif";
     font-size: 2em;
     font-style: italic;
     font-weight: bold;
 }

 h3 {
     font-family: Georgia, "serif";
     font-size: 1.3em;
     font-style: italic;
     font-weight: bold;
 }

 h4 {
     font-family: Georgia, "serif";
     font-size: 1em;
     font-style: italic;
 }

 h5 {
     font-family: Georgia, "serif";
     font-size: 0.7em;
     font-style: italic;
 }

 .c-white {
     color: #fff;
 }

 .c-black {
     color: #000;
 }

 .c-normal {
     color: rgb(80, 79, 79);
 }

 .c-primary {
     color: #e0431e;
 }

 .b-primary {
     background-color: #e0431e;
 }

 .b-secondary {
     background-color: #a32020;
 }

 .mini {
     margin-top: 10px;
     background-color: #e0431e;
     display: inline-block;
     width: 1cm;
     height: 0.1cm;
 }

 .t-center {
     text-align: center;
 }

 .t-justify {
     text-align: justify;
 }

 .t-right {
     text-align: right;
 }

 .t-left {
     text-align: left;
 }

 .absolute {
     position: absolute;
 }

 .relative {
     position: relative;
 }

 .top-0 {
     top: 0;
 }

 .left-0 {
     left: 0;
 }

 .right-0 {
     right: 0;
 }

 .bottom-0 {
     bottom: 0;
 }

 .d-inline-block {
     display: inline-block;
 }

 .normal-list {
     padding-left: 12px;
     margin: 0;
     list-style: none;
     /* Remove default bullets */
     margin-top: 10px;
     font-family: Georgia, "serif";
     font-size: 1em;
 }

 .normal-list li::before {
     content: "\25A0";
     /* Add content: \2022 is the CSS Code/unicode for a bullet */
     color: red;
     /* Change the color */
     font-weight: bold;
     /* If you want it to be bold */
     display: inline-block;
     /* Needed to add space between the bullet and the text */
     width: 1em;
     /* Also needed for space (tweak if needed) */
     margin-left: -1em;
     /* Also needed for space (tweak if needed) */
 }

 .tabla-experiencia {
     border: none !important;
 }

 .tabla-experiencia thead {
     color: #e0431e !important;
     font-family: Georgia, "serif";
 }

 .tabla-experiencia thead::before {
     content: "-";
     display: block;
     line-height: 0.2em;
     color: transparent;
 }

 .tabla-experiencia tbody::before {
     content: "-";
     display: block;
     line-height: 0.7em;
     color: transparent;
 }

 .tabla-experiencia thead tr th {
     border-left: 1px solid #e0431e;
     width: calc(100%/6);
     font-size: 0.8em;
 }

 .tabla-experiencia tbody tr {
     font-size: 0.6em;
     text-align: center;
     font-family: Georgia, "serif";
     background-color: #f5f5f5;
     border-top: 5px solid #fff;
 }

 .tabla-experiencia tbody tr td {
     padding: 10px;
     border-top: 3px solid #fff;
     position: relative;
 }

 .tabla-experiencia tbody tr td::after {
     content: '';
     position: absolute;
     left: 0px;
     top: 0;
     bottom: 0;
     border-left: 1px solid rgb(172, 170, 170);
 }

 .tabla-experiencia tbody tr td:first-child::after {
     content: '';
     position: absolute;
     left: 0px;
     top: 0;
     bottom: 0;
     border-left: 1px solid rgba(245, 245, 245, 0);
 }

 .tabla-experiencia thead tr th:first-child,
 .tabla-experiencia tbody tr td:first-child {
     border-left: none;
 }

 .tabla-requerimientos tr td {
     width: calc(100%/3);
     padding: 10px 20px;
 }

 .dual {
     font-family: Georgia, "serif";
     width: 100%;
 }

 .dual tr {
     background-color: #f5f5f5;
 }

 .dual tr td {
     border-bottom: 2px solid #fff;
 }

 .dual tr td:first-child {
     color: #fff;
     font-weight: bold;
     width: 45%;
     height: 1.8cm;
     font-size: 0.8em;
     padding-left: 0.5cm;
 }

 .dual tr td:last-child {
     padding-left: 0.4cm;
     color: rgb(87, 87, 87);
     width: 55%;
     font-size: 0.7em;
 }

 .dual tr td:last-child::before {
     content: "\25A0";
     /* Add content: \2022 is the CSS Code/unicode for a bullet */
     color: red;
     /* Change the color */
     font-weight: bold;
     /* If you want it to be bold */
     display: inline-block;
     /* Needed to add space between the bullet and the text */
     width: 1em;
     /* Also needed for space (tweak if needed) */
     margin-left: -5px;
     /* Also needed for space (tweak if needed) */
 }

 .rectangle-title {
     width: 2.5cm;
     font-size: 0.9em;
     color: #fff;
     text-align: center;
     display: inline-block;
     padding: 5px;
     font-family: Georgia, "serif";
 }

 .dual-p {
     margin-top: 15px;
     margin-bottom: 30px;
     padding-left: 20px;
     font-size: 0.8em;
 }